
@import url("https://use.typekit.net/kdt8xmx.css");

body {
    background-color: #FFFFFF;
    font-family: calluna-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.nav-item {
    margin: 0 10px 0 10px;
    text-transform: uppercase;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-logo {
    font-family: calluna-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 28px;
}

/* About Me Page */
  
.left {
    width: 350px;
    height: auto;
}

/* FOOTER */

/* Copyright */
.footer-copyright {
    font-size: 14px;
    color: #666;
}

.footer-copyright span {
    text-align: middle;
}

/* Social Icons */

.social_icons_rounded ul {
    list-style: none;
}

.social_icons_rounded ul li a {
    float: left;
    border-radius: 50%;
    line-height: 40px;
    color: #b3b3b3;
    height: auto;
    width: 40px;
    border: 1px solid #b3b3b3
}

.social_icons_rounded ul li a i {
    font-size: 16px
}

.gap {
    margin-left: 15px
}

.f_facebook:hover {
    color: #fff;
    background: #2a66b3;
    border: 1px solid #2a66b3
}

.t_twitter:hover {
    color: #fff;
    background: #35bbec;
    border: 1px solid #35bbec
}

.linkedin:hover {
    color: #fff;
    background: #007bb5;
    border: 1px solid #007bb5
}

.dribbble:hover {
    color: #fff;
    background: #ea4c89;
    border: 1px solid #ea4c89
}

/* END OF FOOTER */